*
	{
		margin: 0;
		padding: 0;
	}

body
	{
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: rgba(0, 0, 0, 0.2);
		align-items: center;
		justify-content: center;
		font-family: arial;
	}

form, div.mensaje
	{
		background-color: white;
		border-radius: 8px;
		width: 320px;
		padding: 20px;
		margin-bottom: 20px;
	}

form > div
	{
		margin-bottom: 10px;
	}

label.titulo
	{
		font-size: 1.1em;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 5px;
	}

input[type='submit']
	{
		padding: 10px;
		background-color: rgba(0, 180, 50, 1.0);
		border: none;
		width: 100%;
		color: white;
		border-radius: 3px;
		font-size: 1.2em;
		font-weight: 700;
	}

input[type='submit']:hover
	{
		background-color: rgba(0, 255, 90, 1.0);
	}